// Custom styles.
.post-block{
    background: transparent;
}
.header-inner{
    background: transparent;
}
.content-wrap{
    background: transparent;
}
.pagination {
    background: transparent !important;
}
.pagination .page-number.current {
    background: rgba(0, 122, 204, 0.4);
}
.sidebar{
    background: transparent;
}
.sidebar-inner{
    background: transparent;
}
.comments{
    background: transparent;
}
.textarea-wrapper {
    background: transparent;
}
.menu-item-active a{
    background: rgba(0, 86, 216, 0.75);
    border-bottom-color:transparent;
    color: #f5f7f9;
}
.menu .menu-item a:hover{
    background: rgba(0, 86, 216, 0.75);
    border-bottom-color:transparent;
    color: #f5f7f9;
}
.site-meta{
    background: url(/images/title.png) center center no-repeat;
    background-color: #222;
}
.back-to-top {
    background: rgba(0, 86, 216, 0.75);
    color: #f5f7f9;
    opacity: 1;
}
#reward-button {
    border:solid 2px rgba(0, 86, 216, 0.75);
    color: #555;
    background: transparent;
    border-radius: 3px;
}
#reward-button:hover {
    color: #f5f7f9;
    background: rgba(0, 86, 216, 0.75);
    border-radius: 3px;
}
.post-copyright{
    border-left:none;
    background-color:transparent;
}
.posts-expand .post-title-link::before{
    background: rgba(0, 86, 216, 0.75);
}
.tag-cloud a:hover{
    color: rgba(0, 86, 216, 1)!important;
}
.tag-cloud a{
    border-bottom: none;
}
a{
    border-bottom-color: rgba(0, 86, 216, 0.75);
}
a:hover, span.exturl:hover{
    color: rgba(0, 86, 216, 0.75);
    border-bottom-color: rgba(0, 86, 216, 1);
}
hr{
    margin: 50px 0px;
    height: 1px;
    border: none;
    background-color:transparent;
    background-image: linear-gradient(to right, transparent, rgba(0, 86, 216, 0.75), transparent);
}